@use 'abstracts' as *;

.badge-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: var(--space-4);
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-4);

  &__full {
    grid-column: 1 / -1;
  }

  @media (max-width: $breakpoint-sm) {
    grid-template-columns: 1fr;
  }
}
