@if (open()) {
  <div class="modal">
    <div class="modal__overlay" (click)="closed.emit()"></div>

    <div class="modal__dialog" role="dialog" aria-modal="true">
      <header class="modal__header">
        <h3 class="modal__title">{{ title() }}</h3>
        <button type="button" class="modal__close" (click)="closed.emit()" aria-label="Close">
          <app-icon name="close" size="lg" />
        </button>
      </header>

      <div class="modal__body">
        <ng-content />
      </div>

      <footer class="modal__footer">
        <ng-content select="[footer]" />
      </footer>
    </div>
  </div>
}
