<button type="button" class="action-menu__trigger" (click)="toggle($event)">
  {{ label() }}
  <app-icon
    class="action-menu__caret"
    [class.action-menu__caret--open]="open()"
    name="forward"
    size="sm" />
</button>

@if (open()) {
  <div
    class="action-menu__panel"
    [style.top.px]="top()"
    [style.left.px]="left()"
    (click)="$event.stopPropagation()">
    @for (item of items(); track item.key) {
      <button
        type="button"
        class="action-menu__item"
        [class.action-menu__item--danger]="item.danger"
        (click)="choose(item)">
        @if (item.icon) {
          <app-icon [name]="item.icon" size="sm" />
        }
        {{ item.label }}
      </button>
    }
  </div>
}
